.FeatureCard {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.FeatureCard:hover {
  transform: scale(1.02);
}
.image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.text {
  color: #000000;
}
.text1 {
  color: #000000;
  margin-bottom: 5px;
}








